.clients-list {
  display: flex;
  gap: 30px;

  &__item {
  height: 92px;
  width: 170px;
}

&__link {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:active,
&:focus {
  border-color: var(--color-accent);
  fill: var(--color-accent);
}
}




}